<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a routerLink="" routerLinkActive="active" class="text-decoration-none navbar-brand">
      <span class="navbar-brand mb-0 h1"><i class="fas fa-utensils" style="color: green; margin-right: 10px;"></i> Worldwide Cuisine</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a (click)="changeValue()" class="currency nav-link active">Zmień walutę</a>
        </li>
        <li class="nav-item">
          <a routerLink="/list" routerLinkActive="active" class="nav-link">Lista dań</a>
        </li>
        <li class="nav-item">
          <ng-container *ngIf="(authService.currentUser | async) as user">
            <a *ngIf="!user.roles.manager && !user.roles.admin" routerLink="/cart" routerLinkActive="active" class="nav-link">Koszyk</a>
          </ng-container>
        </li>
        <li class="nav-item">
          <ng-container *ngIf="(authService.currentUser | async) as user">
            <a *ngIf="user.roles.admin || user.roles.manager" routerLink="/admin-list" routerLinkActive="active" class="nav-link">Panel managera</a>
          </ng-container>
        </li>
        <li class="nav-item">
          <ng-container *ngIf="(authService.currentUser | async) as user">
            <a *ngIf="user.roles.admin" routerLink="/users" routerLinkActive="active" class="nav-link">Panel administratora</a>
          </ng-container>
        </li>
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/register" *ngIf="!(authService.currentUser | async)" routerLinkActive="active" class="nav-link">Utwórz konto</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" *ngIf="!(authService.currentUser | async)" routerLinkActive="active" class="nav-link">Zaloguj</a>
        </li>
        <li class="nav-item">
          <ng-container *ngIf="(authService.currentUser | async) as user">
            <p class="nav-link">Witaj {{user.displayName}}</p>
          </ng-container>
        </li>
        <li class="nav-item">
          <a class="nav-link logout" *ngIf="(authService.currentUser | async)" (click)="authService.logOut()">Wyloguj</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h5 text-black">Waluta: <i *ngIf="dishesService.currency === 'dollar'" class="fas fa-dollar-sign"></i><i *ngIf="dishesService.currency === 'euro'" class="fas fa-euro-sign"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
