* {
  box-sizing: border-box;
}

.d-flex {
  margin-right: 20px;
}

.left h6 {
  margin: 0;
  margin-left: 20px;
  cursor: pointer;
}

.total {
  padding :5px;
  border-radius: 10px;
}

.currency {
  cursor: pointer;
}

.logout {
  cursor: pointer;
}
