<div class="container">
  <div class="row m-3 justify-content-center align-items-center">
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10 col-sm-12 col-12 justify-content-center align-items-center text-center">
      <img src="../../../assets/restaurant_logo.png" class="image" alt="">
      <h4>Jesteśmy otwarci codziennie od 10:00 do 23:00</h4>
      <h5>Kraków, ul. Kawiory 21</h5>
      <h5>Telefon: 555-666-888</h5>
      <img src="../../../assets/map.png" class="image" alt="">
    </div>
  </div>
</div>
