<div class="card h-100" [ngClass]="{'max-price' : dish == dishesService.getMaxDish(), 'min-price' : dish == dishesService.getMinDish()}">
  <a [routerLink]="['/details', dish.id]" routerLinkActive="active">
    <img [src]="dish.photos[0]" class="card-img-top">
  </a>
  <div class="card-body">
    <div class="name">
      <h5 class="card-title">{{dish.name | uppercase}}</h5>
      <h5>{{(dish.price * dishesService.currencyRatio | number : '1.2-2')}} <i *ngIf="dishesService.currency === 'dollar'" class="fas fa-dollar-sign"></i><i *ngIf="dishesService.currency === 'euro'" class="fas fa-euro-sign"></i></h5>
    </div>
    <h6 class="card-subtitle">{{dish.cuisine | uppercase}}</h6>
    <h6 class="card-subtitle">{{dish.type}}, {{dish.category}}</h6>
    <p class="card-text">{{dish.description}}</p>
  </div>
  <div class="card-footer">
    <app-dish-buy [dish]="dish"></app-dish-buy>
    <button (click)="removeDish()">Usuń</button>
  </div>
</div>
