.image {
  width: 70%;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.rating-add-remove {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.nick-and-date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.fas {
  font-size: 25px;
  cursor: pointer;
}

.images {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 440px) {
  .rating-add-remove {
    flex-direction: column;
    gap: 10px;
  }
}
