<div class="container">
  <h3>Koszyk</h3>
  <div class="row justify-content-center">
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 text-center">
      <h3 *ngIf="cartService.dishesInCart.length == 0">Koszyk jest pusty</h3>
      <div *ngFor="let dish of cartService.dishesInCart" class="cart">
        <div class="product">{{dish.name | uppercase}} x{{cartService.getQuantity(dish)}}</div>
        <div class="price">{{cartService.totalPrices.get(dish.id)! * dishesService.currencyRatio | number : '1.2-2'}} <i *ngIf="dishesService.currency === 'dollar'" class="fas fa-dollar-sign"></i><i *ngIf="dishesService.currency === 'euro'" class="fas fa-euro-sign"></i></div>
      </div>
      <div class="cart" *ngIf="cartService.dishesInCart.length != 0">
        <div class="product h6">SUMA</div>
        <div class="price">{{cartService.total * dishesService.currencyRatio | number : '1.2-2'}} <i *ngIf="dishesService.currency === 'dollar'" class="fas fa-dollar-sign"></i><i *ngIf="dishesService.currency === 'euro'" class="fas fa-euro-sign"></i></div>
      </div>
    </div>
  </div>
</div>
