<div class="container">
  <div class="row justify-content-center">
    <ng-container *ngIf="cartObservable | async as dishes">
      <ng-container *ngIf="quantitiesObservable | async as quantities">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 text-center">
          <div *ngFor="let dish of dishes" class="cart">
            <div class="product">{{dish.name | uppercase}} x{{quantities.get(dish)}}</div>
            <ng-container *ngIf="totalPrices.get(dish) as price">
              <ng-container *ngIf="currencyRatioObservable | async as ratio">
                <div class="price">{{price * ratio | number : '1.2-2'}} <i *ngIf="(currency | async) == 'dollar'" class="fas fa-dollar-sign"></i><i *ngIf="(currency | async) == 'euro'" class="fas fa-euro-sign"></i></div>
              </ng-container>
            </ng-container>
          </div>
          <div class="cart">
            <div class="product h6">SUMA</div>
            <ng-container *ngIf="currencyRatioObservable | async as ratio">
              <div class="price">{{sum * ratio | number : '1.2-2'}} <i *ngIf="(currency | async) == 'dollar'" class="fas fa-dollar-sign"></i><i *ngIf="(currency | async) == 'euro'" class="fas fa-euro-sign"></i></div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
